In [4]:
#1 implement inventory management in python
import mysql.connector
conn = mysql.connector.connect(user = 'root',
                             password = 'Ava&Man@072020',
                             host = '127.0.0.1',
                             database = 'inventory'
                            )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028127EDF010>

In [5]:
curs = conn.cursor()
curs

In [12]:
curs.execute("create table inv (product_id int primary key , product_name varchar(20))")

In [13]:
curs.execute("create table sales (salesp_id int primary key , salesp_name varchar(10) , sales_no int)")

In [14]:
curs.execute("show tables")
for i in curs:
    print(i)

('inv',)
('pruchase',)
('purchase',)
('sales',)

In [10]:
curs_insert = "insert into pruchase (cust_name,product) values (%s,%s)"
cus_value = ('john','fridge')
curs.execute(curs_insert,cus_value)

conn.commit()
print(curs.rowcount)

ProgrammingError: 1146 (42S02): Table 'e_commerce.pruchase' doesn't exist

In [11]:
#you are building customer order processing system for e-commerce company. the system needs to interact with mysql database 
#store customer order product and order details

#import mysql.connector
#conn = mysql.connector.connect(user = 'root',
                             password = 'Ava&Man@072020',
                             host = '127.0.0.1',
                             database = 'e_commerce'
                            )
#print(conn)
#curs=conn.cursor()
#curs

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [6]:
curs=conn.cursor()
curs

NameError: name 'conn' is not defined

In [5]:
curs.execute("create table product(product_id int primary key , product_name varchar(20))")

NameError: name 'curs' is not defined

In [3]:
# 2 you are building customer order processing system for e-commerce company. the system needs to interact with mysql database 
#store customer order product and order details

import mysql.connector
conn = mysql.connector.connect(user = 'root',
                             password = 'Ava&Man@072020',
                             host = '127.0.0.1',
                             database = 'e_commerce'
                            )
print(conn)
curs=conn.cursor()
curs

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A5E18401D0>

In [14]:
curs.execute("create table products(product_id int primary key , product_name varchar (20) , cost int)")

In [12]:
curs.execute("create table customer(customer_id int primary key , customer_name varchar(20) , product_details varchar(20))")

In [6]:
curs.execute("create table orders(order_id int primary key , order_details varchar(10) , amount_paid int)")

In [16]:
curs.execute("show tables")
for i in curs:
    print(i)

('customer',)
('orders',)
('products',)

In [7]:
curs_insert = "insert into orders(order_id , order_details , amount_paid) values (%d,%s,%d)"
curs_value = (1,'fridge',10000)
curs.execute(curs_insert , curs_value)
conn.commit()
print(curs.rowcount)

ProgrammingError: Not all parameters were used in the SQL statement

In [8]:
curs_insert = "insert into orders(order_id , order_details , amount_paid) values (%s,%s,%s)"
cur_value = (1 ,'fridge',10000)
curs.execute(curs_insert , cur_value)
conn.commit()
print(curs.rowcount)

1

In [9]:
# 3 you are tasked with developing a python program that connects to mysql database retrieves data frpm a table,perform some operation

import mysql.connector
conn = mysql.connector.connect(user = 'root',
                             password = 'Ava&Man@072020',
                             host = '127.0.0.1',
                             database = 'assignment'
                            )
print(conn)
curs = conn.cursor()
curs.execute("create table details(name varchar(20) , location varchar(20))")

curs.execute("show tables")
for i in curs:
    print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002889FB73B50>
('details',)

In [11]:
#to insert multiple values
curs_insert = "insert into details(name , location) values(%s , %s)"
curs_value = [('john' , 'mumbai'),
              ('alex' , 'pune'),
              ('sam' , 'bangalore')
             ]
curs.executemany(curs_insert , curs_value)
conn.commit()
print(curs.rowcount)

3

In [12]:
#to fetch details from table
curs.execute("select * from details")
result = curs.fetchall()
for i in result:
    print(i)

('john', 'mumbai')
('alex', 'pune')
('sam', 'bangalore')

In [14]:
#4 you are developing an employement management system for a company 

import mysql.connector
conn = mysql.connector.connect(user = 'root',
                             password = 'Ava&Man@072020',
                             host = '127.0.0.1',
                             database = 'company'
                            )
print(conn)
curs = conn.cursor()
curs.execute("create table employee(name varchar(20) , location varchar(20) , salary int)")

curs.execute("show tables")
for i in curs:
    print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002889ED0A390>
('employee',)

In [20]:
curs.execute("create table department(dept_name varchar(20) , dept_id int)")

ProgrammingError: 1050 (42S01): Table 'department' already exists

In [2]:
#1 
import prime_num

True

In [4]:
#3

TypeError: 'int' object is not callable