<a href="https://colab.research.google.com/github/ManasiMuchrikar03/AI_MLtraining/blob/main/day2__python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write python function to list even and odd number in list

In [ ]:
def num_gen(n):
  lst_1 = []
  for i in range(n):
    if i % 2 == 0:
      lst_1.append(i)
  print(lst_1)

def odd_num(n):
  lst_2 = []
  for i in range(n):
    if i % 2 != 0:
      lst_2.append(i)
  print(lst_2)



print(num_gen(20))
print(odd_num(20))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
None
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
None

write python programme to that asks the user to enter 8 integers and then print how many of these numbers are even

In [ ]:
def odd_even():
  lst = []
  for i in range(1 , 8):
    n = int(input())
    if n % 2 == 0:
      lst.append(n)
  print(lst)

odd_even()

2
4
6
8
10
1
3
[2, 4, 6, 8, 10]

write python programme where you take postive integers, if even divide by 2 if odd multiply by 3 and add 1. Repeat this till you reach 1

In [ ]:
def gen_num(n):
  while (n == 1):
    if n % 2 == 0:
      n = n / 2
    else:
      n = (3 * n) + 1
  return n

gen_num(4)

4

write python programme to compute the sum of all the multiples of 3 or 5 below 500

In [ ]:
number = 0
for i in range(1 , 500):
  if i % 5  == 0 or i % 3 == 0:
    number = number + i
print(number)

57918

write python programme to find first n prime numbers for a given list of numbers

In [ ]:
prime_lst = [ 2 , 17 , 12 , 32, 7]

for element in prime_lst:
  if element == 0:
    print('invalid number')

write python programme to count vowels in a string

In [ ]:
text = 'machine learning'
vowels = 0
for i in text:
  if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
    vowels = vowels + 1
print(vowels)

6

write python function to find factorial of a number using recursive function

In [ ]:
def fact (n):
  if n == 1:
    return 1
  else:
    n = n * fact(n - 1)
    return n

fact(5)

120

write python function to write fibonacci series using function

In [ ]:
def fib_series(n):
  if n < 0:
    print('invalid number')
  elif n == 0:
    return 0

  elif  n == 1:
    return 1
  else:
    return  (n-1) + (n - 2)


fib_series(5)

7

write python programme to display the given integer in reverse order without using in-built function

In [ ]:
number = 3547
r_number = 0
while (number > 0):
  r = number % 10
  r_number = (r_number * 10) + r
  number = number // 10

print(r_number)

7453

write python programme to find number of digits and sum of digits for given integer

In [ ]:
number = '34579'
sum = 0
for i in number:
  sum = sum + int(i)

print(sum)
print(len(number))

28
5

write python function to display all integers within the range 200-300 whose sum of digit is an even number

In [ ]:
a = 200
b = 300
sum = 0
for i in range (a , b + 1):
  for j in str(i):
    sum = sum + int(j)
    if sum % 2 == 0:
      print(i)

200
200
200
201
201
203
204
204
204
205
205
207
208
208
208
209
209
210
210
211
211
212
213
214
214
215
215
216
217
218
218
219
219
220
220
220
221
221
223
224
224
224
225
225
227
228
228
228
229
229
230
230
231
231
232
233
234
234
235
235
236
237
238
238
239
239
240
240
240
241
241
243
244
244
244
245
245
247
248
248
248
249
249
250
250
251
251
252
253
254
254
255
255
256
257
258
258
259
259
260
260
260
261
261
263
264
264
264
265
265
267
268
268
268
269
269
270
270
271
271
272
273
274
274
275
275
276
277
278
278
279
279
280
280
280
281
281
283
284
284
284
285
285
287
288
288
288
289
289
290
290
291
291
292
293
294
294
295
295
296
297
298
298
299
299

write python programme for matrix multiplication

In [13]:
mat_1 = [[1,2,3],
         [4,5,6],
         [7,8,9]]
mat_2 = [[1,2,3],
         [4,5,6],
         [7,8,9]]
result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(len(mat_1)):
    for j in range(len(mat_2[0])):
        for k in range(len(mat_2)):
            result[i][j] += mat_1[i][k] * mat_2[k][j]