<a href="https://colab.research.google.com/github/ManasiMuchrikar03/AI_MLtraining/blob/main/manasi_2576602_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = ['manasi' , 'al_ml' , 232 ] #1
lst

['manasi', 'al_ml', 232]

In [ ]:
lst.append('muchrikar') #1(i)
lst

['manasi', 'al_ml', 232, 'muchrikar', 'muchrikar']

In [ ]:
lst.reverse() #1(ii)
lst

['manasi', 'al_ml', 232, 'muchrikar', 'muchrikar']

In [ ]:
lst_2 = ['high' , 'end' , 'tech'] #1(iii)
lst_joined = lst + lst_2
lst_joined

['manasi', 'al_ml', 232, 'muchrikar', 'muchrikar', 'high', 'end', 'tech']

In [ ]:
lst.reverse() #1(v)
lst

['muchrikar', 'muchrikar', 232, 'al_ml', 'manasi']

2)write programme to do in the
tuples

In [ ]:
tup = (32.5 , 'python' , 'aiml' , 232) #2(i)
tup.count(2)

0

In [ ]:
tup_1 = ('jupyter' , 'notebook') #2(ii)
tup_join = tup + tup_1
tup_join

(32.5, 'python', 'aiml', 232, 'jupyter', 'notebook')

In [ ]:
result = reversed(tup) #2(iii)
result

In [ ]:
tup_new = tup*4 #2(iv)
tup_new

(32.5,
 'python',
 'aiml',
 232,
 32.5,
 'python',
 'aiml',
 232,
 32.5,
 'python',
 'aiml',
 232,
 32.5,
 'python',
 'aiml',
 232)

In [ ]:
tup_c = ['delhi' , 'mumbai' , 'bangalore'] #2(v)
tup_d = ['patna' , 'pune' , 'nagpur']
tup_joined = tup_c + tup_d

In [ ]:
tup_c.sort()  #2(vi)

3) write python prpgramme to implement using following list

In [ ]:
lst_third = [2 , 6, 15 , 10, 13 , 16, 23 , 36 , 48 , 1 ] #3(i)
lst_third

[2, 6, 15, 10, 13, 16, 23, 36, 48, 1]

In [ ]:
lst_third.sort() #3(ii)
lst_third [-1]

48

In [ ]:
lst_third[0:4] #3(iii)

[1, 2, 6, 10]

In [ ]:
lst_third[2:] #3(iv)
lst_third[0:6] #3(v)

 4)write a python programme tuple1

In [ ]:
tup_4 = (10 ,50 ,20 ,40 , 30) #4(i)
tup_4[0:2]

(10, 50)

In [ ]:
len(tup_4) #4(ii)

5

In [ ]:
min(tup_4)#4(iii)

10

In [ ]:
count = 0 #4(iv)
for i in tup_4:
  count = count + i
count

150

In [ ]:
result_tup = tup_4 * 4 #4(v)

5) write python progrmme

In [ ]:
str_1 = 'south india'
len(str_1)
str_1[::-1]
result_str = str_1 * 5
str_1[0::3]

6)perform the following

In [ ]:
employee = {                  #6(i)
    'f_name': 'john' ,
    'l_name': 'mathew' ,
     'emp_id' : 123
}

In [ ]:
employee.update()
x = employee['f_name']  #6(ii)
y = employee['l_name']

employee.clear()  #6(iv)

7)write a python programme to insert a number in list

In [ ]:
lst_third = [2 , 6, 15 , 10, 13 , 16, 23 , 36 , 48 , 1 ]
lst_third.insert(3 , 16)

8) python programme to delete an element from list

In [ ]:
lst_third = [2 , 6, 15 , 10, 13 , 16, 23 , 36 , 48 , 1 ]
lst_third.remove(16)
lst_third.pop()

36

9)write python programme to display number from 1 to 100

In [ ]:
for i in range(1 , 101):
  print(i)

write programme to find sum of all elements in tuples

In [ ]:
tup_4 = (10 ,50 ,20 ,40 , 30)
count = 0
for i in tup_4:
  count += i
count

150

write python programme to print table of any number

In [ ]:
number = int(input('enter the number'))
for i in range (1 ,11):
  print(number , 'x' , i ,'=', number * i)

enter the number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

write python programme to find sum of odd and even numbers that fall between 12 and 37

In [ ]:
for i in range (12 , 37):
  if i % 2 == 0:
    sum += i
  elif
    sum += i

write python programme to take tempreture in celcius and convert it to farhenite

In [ ]:
temp_c = 40.2
temp_f = (temp_c * 1.18) + 32
print(temp_f)

79.436

write a python programme to find maximum and minimum number in a list without using in built function

In [ ]:
lst_third = [2 , 6, 15 , 10, 13 , 16, 23 , 36 , 48 , 1 ]
lst_third.sort()
lst_third[-1]
lst_third[0]

1

A high speed train can travel with speed 150mph. How long will it take to reach glassgow

In [ ]:
speed = 150
distance = 414 * 1609

time = distance / speed
time

4440.84